body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: chartreuse;
  font-size: 2rem;
  text-align: center;
}

body a {
  margin-bottom: 10px;
  cursor: pointer;
}

body footer {
  margin-top: 30px;
}

